body {
	margin: 90px;
}

.middle {
	padding-left: 41%;
	padding-right: 40%;
}

.full-width {
	width: 100%;
}

.full-height {
	height: 80vh;
}

.fit-parent {
	height: inherit;
	width: inherit;
}

label {
	background-color: transparent;
}

textarea {
	width: 99%;
	margin: 5px;
}

#regex {
	height: 100px;
}

#text {
	max-height: inherit;
	overflow: auto;
	height: 44vh;
}

.hidden {
	display: none;
}

.round-button {
	border: 1px solid blue;
	border-radius: 50px;
	
}