body {
	margin: 90px;
	font-family: Arial, Helvetica;
}

textarea {
	width: 99%;
	margin: 5px;
}

div[contenteditable="true"] {
	background-color: white;
	margin: 5px;
	border: 1px gray ridge;
}

.highlight {
	background-color: yellow;
}

.startingText {
	color: grey;
}

.middle {
	padding-left: 41%;
	padding-right: 40%;
}

.full-width {
	width: 100%;
}

.full-height {
	height: 80vh;
}

.fit-parent {
	height: inherit;
	width: inherit;
}

.round-button {
	border: 1px solid blue;
	border-radius: 50px;

}

#regex {
	height: 100px;
}

#text {
	max-height: inherit;
	overflow: auto;
	height: 44vh;
	z-index: 2;
}

#inputBg {
	z-index: 1;
}
